In [5]:
import pandas as pd
import numpy as np

In [6]:
transactions = pd.read_csv('transactions.csv')

In [27]:
transactions.head()

,person,time,amount,offer_id,time_received,time_viewed,time_completed,reward,potential_reward,duration,offer_type,difficulty,mobile,email,social,web
0,0009655768c64bdeb2e877511632db8f,168.0,NaN,5a8bc65990b245e5a138643cd4eb9837,168.0,192.0,NaN,0.0,0.0,72.0,informational,0.0,1.0,1.0,1.0,0.0
1,0009655768c64bdeb2e877511632db8f,228.0,22.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,transaction,NaN,NaN,NaN,NaN,NaN
2,0009655768c64bdeb2e877511632db8f,336.0,NaN,3f207df678b143eea3cee63160fa8bed,336.0,372.0,NaN,0.0,0.0,96.0,informational,0.0,1.0,1.0,0.0,1.0
3,0009655768c64bdeb2e877511632db8f,414.0,8.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,transaction,NaN,NaN,NaN,NaN,NaN
4,0009655768c64bdeb2e877511632db8f,528.0,14.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,transaction,NaN,NaN,NaN,NaN,NaN

lets keep the rows which contain either transactions or offers that have actually been viewed - only those can have an impact onto the customet.

In [9]:
transactions = transactions[(transactions.offer_type=='transaction') | (transactions.time_viewed.isnull()==False)].copy()
#transactions['common_time'] = transactions.apply(lambda x: x['time_received'] if x['event']!='transaction' else x['time'],axis=1)
transactions.sort_values(['person','time','offer_id'],inplace=True)

define the helper columns to calculate a conversion rate

In [25]:
conv= transactions.copy()
conv.loc[: ,'converted'] = (conv.time_completed.isnull()==False)
conv.loc[:,'viewed'] = (conv.time_viewed.isnull()==False)

over all conversion rate

In [14]:
conv_general = conv[conv['offer_id'].isnull()==False]['converted'].sum() / conv[conv['offer_id'].isnull()==False]['viewed'].sum()
conv_general

0.5103139013452915

conversion rate separated by offer types

In [26]:
def conversion_by_offer_type(offer_type, df):
    return df[(df['offer_type']==offer_type)]['converted'].sum() / df[(df['offer_type']==offer_type)]['viewed'].sum()

for offer in ['bogo','discount','informational']:
    print(offer,'-conversion: ',conversion_by_offer_type(offer,conv))

bogo -conversion:  0.47294026108757675
discount -conversion:  0.6303247251342368
informational -conversion:  0.37346505401163327